*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #f1f5f8;
  color: #063251;
  font-size: 16px;
  font-family: "Heebo", Arial, sans-serif;
  font-weight: 400;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todolist {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  width: 90vw;
  max-width: 35rem;
  border-radius: 0.25rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
  padding: 2rem;
  background-color: #fff;
}
.todolist:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.todolist__message {
  width: 100%;
  text-align: center;
  margin: 0 0 2rem 0;
  padding: 0.3rem;
  border-radius: 0.25rem;
  letter-spacing: 2px;
  font-size: 0.8rem;
  text-transform: capitalize;
  transition: all 1s linear;
}
.todolist__message_danger {
  color: #721c24;
  background-color: #f8d7da;
}
.todolist__message_success {
  color: #155724;
  background-color: #d4edda;
}
.todolist__clear {
  background-color: transparent;
  margin: 2rem 0 0 0;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-size: 1rem;
  cursor: pointer;
  color: #e66b6b;
  display: none;
  transition: all 0.3s linear;
}
.todolist__clear:hover {
  color: #bb2525;
}
.todolist__clear_active {
  display: block;
}
.todolist__item {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 0.3rem 0.3rem 1rem;
  margin-top: 2rem;
  border-radius: 0.25rem;
  transition: all 0.3s linear;
}
.todolist__item:hover {
  background-color: #f1f5f8;
}
.todolist__item-control {
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.7rem 0 0;
}
.todolist__item-trash {
  color: #e66b6b;
  cursor: pointer;
  transition: all 0.3s linear;
}
.todolist__item-trash:hover {
  color: #bb2525;
}
.todolist__item-pen {
  color: #6be675;
  cursor: pointer;
  transition: all 0.3s linear;
}
.todolist__item-pen:hover {
  color: #25bb32;
}
.todolist__title {
  margin: 0 0 1.5rem 0;
}
.todolist__title-text {
  font-size: 1.75rem;
  letter-spacing: 2px;
}
.todolist__block {
  width: 100%;
}
.todolist__form {
  display: flex;
  justify-content: center;
  width: 100%;
}
.todolist__form-input {
  flex: 1 0 auto;
  background-color: #f1f5f8;
  padding: 0.25rem 0.25rem 0.25rem 1rem;
  color: #617d98;
  border-radius: 0.25rem 0 0 0.25rem;
  font-size: 1rem;
  border: 2px solid transparent;
}
.todolist__form-input:focus {
  border-color: #000;
  border-radius: 0.25rem;
}
.todolist__form-submit {
  background-color: #a5d5f8;
  flex: 0 0 5rem;
  letter-spacing: 2px;
  font-size: 0.85rem;
  cursor: pointer;
  border-radius: 0 0.25rem 0.25rem 0;
  transition: all 0.3s linear;
}
.todolist__form-submit:hover {
  background-color: #49a6e9;
  color: #fff;
}