$text: #063251;
$grey1: #f1f5f8;
$grey2: #617d98;
$blue1: #a5d5f8;
$blue2: #49a6e9;
$red1: #e66b6b;
$red2: #bb2525;
$green1: #6be675;
$green2: #25bb32;
$burgundy1: #721c24;
$burgundy2: #f8d7da;
$green3: #155724;
$green4: #d4edda;
